@font-face {
  font-family: epilogue;
  src: url(./Fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: epilogue;
  background: #1c3139;
  color: whitesmoke;
  padding: 0 30rem;
}

.introduccion {
  text-align: center;
  padding: 0 17rem;
}
.encabezado {
  font-size: 5rem;
}
.introduccion__encabezado {
  width: auto;
  height: auto;
  margin: 1rem;
}
.parrafo {
  font-size: 1.6rem;
}
.introduccion__parrafo {
  width: auto;
  height: auto;
  margin: 1rem;
}
.introduccion__img {
  margin: 1rem;
  width: auto;
  height: auto;
}
.parrafo a {
  text-decoration: none;
  color: #09a6f3;
}
.htmlcss {
  margin: 1rem;
  text-align: left;
}
.encabezado2 {
  font-size: 3rem;
}
.htmlcss__encabezado {
  width: auto;
  height: auto;
  padding-top: 6rem;
}
.htmlcss__parrafo {
  margin: 1rem;
}
.encabezado3 {
  font-size: 2rem;
}
.herramientas {
  font-size: 1.6rem;
}
.herramientas__encabezado {
  margin: 1rem;
}
.herramientas__lista {
  margin: 1rem;
}
.herramientas__item {
  font-size: 2rem;
  margin: 1rem 0 0;
}
.herramientas a {
  text-decoration: none;
  color: #09a6f3;
}
.documentacion__encabezado {
  margin: 1rem;
}
.documentacion__lista {
  margin: 1rem;
}
.documentacion__item {
  font-size: 2rem;
  margin: 1rem 0 0;
}
.juegos__lista {
  margin: 1rem;
}
.juegos__encabezado {
  margin: 1rem;
}
.juegos__item {
  font-size: 2rem;
  margin: 1rem 0 0;
}

.img {
  float: right;
  margin-top: 5rem;
}
