@font-face {
  font-family: epilogue;
  src: url(./Fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

.BaseLayout {
  margin: 0px;
  background-color: #0e1c26;
  font-family: epilogue;
  color: whitesmoke;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  font-weight: 100;
  background: linear-gradient(#1c3139, #253e45) repeat-x;
  list-style: none;
}

.navbar--main {
  margin-left: 40%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 40px;
}

.navbar--main__item {
  display: inline-block;
  font-size: 20px;
}

.navbar--main__item a {
  color: whitesmoke;
  padding: 40px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}

.navbar--main__item a:hover {
  background-color: #2a454b;
}

.navbar--main__item a:active {
  background-color: #21373f;
  color: #0e1c26;
}

.encabezado {
  font-size: 50px;
  text-align: center;
}

.parrafo {
  font-size: 20px;
}

.descripcion {
  text-align: center;
  padding: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.descripcion a {
  text-decoration: none;
  color: #09a6f3;
}

.encabezado2 {
  font-size: 40px;
  text-align: left;
}

.encabezado2--intro {
  padding-top: 100px;
  padding-left: 150px;
  padding-bottom: 0px;
}

.encabezado3 {
  font-size: 25px;
  text-align: left;
}

.descripcionhtmlcss {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1200px;
}

.img {
  float: right;
  max-width: fit-content;
  max-height: fit-content;
}

.herramientas {
  font-size: 15px;
}

.herramientas a {
  font-size: 20px;
  text-decoration: none;
  color: #09a6f3;
}

.final {
  float: right;
  text-align: right;
  font-size: 15px;
}

.final a {
  text-decoration: none;
  color: #09a6f3;
}
