@font-face {
  font-family: epilogue;
  src: url(./Fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background: #1c3139;
  font-family: epilogue;
  width: 100%;
  height: auto;
}
.navbar {
  font-weight: 100;
  font-size: 2.6rem;
  background: #253e45;
  border-radius: 8px;
}
.navbar__main {
  width: auto;
  height: auto;
  text-align: center;
  margin: 1rem 0 0;
  padding: 3rem 0rem;
}
/* .logo {
}
.navbar__logo {
  width: 2rem;
  height: auto;
  float: left;
} */
.navbar__item {
  display: inline-block;
}
.navbar__icon {
  width: auto;
  height: auto;
}
.navbar__item a {
  color: whitesmoke;
  text-decoration: none;
  padding: 3rem 11rem;
}
.navbar__item a:hover {
  background-color: #2a454b;
  color: #09a6f3;
}
.navbar__item a:active {
  background-color: #21373f;
  color: #0e1c26;
}
.iframe {
  border: 0;
  width: 100%;
  height: 75rem;
}
/* .icon {
} */
.footer {
  font-size: 1.2rem;
}
.footer__info {
  display: block;
  width: 83%;
  height: auto;
  margin-top: 1rem;
  padding: 0 auto;
  color: whitesmoke;
  text-align:right;
}
.footer__icon {
  width: auto;
  height: auto;
}
