@font-face {
  font-family: epilogue;
  src: url(./Fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.BodyLayout {
  background: linear-gradient(#0e1c26, #1c3139) repeat-x;
  font-family: epilogue;
  font-size: 62.5%;
  color: whitesmoke;
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}

#logoheader {
  max-width: 4rem;
  height: auto;
}

.navigation-content{
  position: relative;
  display: block;
}

.navbar {
  font-weight: 100;
  font-size: 1.5rem;
  background: #253e45;
}

.navbar--main {
  border-radius: 8px;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 0;

}

.navbar--main__item {
  display: inline-block;
}

.navbar--main__item a {
  color: whitesmoke;
  text-decoration: none;
  padding: 2rem 3rem;
}

.navbar--main__item a:hover {
  background-color: #2a454b;
  color: #09a6f3;
}

.navbar--main__item a:active {
  background-color: #21373f;
  color: #0e1c26;
}

.encabezado {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

.parrafo {
  font-size: 1.2rem;
  margin: 1rem;
}

.descripcion {
  text-align: center;
  padding: 0 20%;
}

.parrafo a {
  text-decoration: none;
  color: #09a6f3;
}

.encabezado2 {
  font-size: 2rem;
  text-align: left;
}

.encabezado2--intro {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.encabezado3 {
  font-size: 1.5rem;
  text-align: left;
}

.descripcionhtmlcss {
  margin: 0;
  padding-bottom: 1rem;
  padding-right: 30rem;
  display: block;
}

#img {
  float: right;
  margin-top: 5rem;
}

.herramientas {
  font-size: 1rem;
}

.herramientas a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #09a6f3;
}

.final {
  float: right;
  text-align: right;
  font-size: 1rem;
}

.final a {
  text-decoration: none;
  color: #09a6f3;
}
