@font-face {
  font-family: epilogue;
  src: url(../Fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #1c3139;
  font-size: 62.5%;
  font-family: epilogue;
  width: 100vw;
  height: 100vh;
  min-width: 393;
  min-height: 873;
}
.navbar {
  font-weight: 100;
  font-size: 2.6rem;
}
.navbar__main {  
  background: #253e45;
  text-align: center;
  width: 65%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  padding: 3rem 0;
}
/* .logo {
}
.navbar__logo {
  width: 2rem;
  height: auto;
  float: left;
} */
.navbar__item {
  display: inline-block;
}
.navbar__icon {
  width: 20rem;
  height: 20rem;
}
.navbar__item a {
  color: whitesmoke;
  text-decoration: none;
  display: inline-block;
  padding: 3rem 11rem;

}
.navbar__item a:hover {
  background-color: #2a454b;
  color: #09a6f3;
}
.navbar__item a:active {
  background-color: #21373f;
  color: #0e1c26;
}
.iframe {
  box-sizing: border-box;
  border: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
/* .icon {
} */
.footer {
  font-size: 1.2rem;
}
.footer__info {
  display: block;
  width: 95%;
  height: auto;
  margin-top: 1rem;
  padding: 0 auto;
  color: whitesmoke;
  text-align: right;
}
.footer__icon {
  width: auto;
  height: auto;
}
